.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 100px; /* Espacio suficiente para que el header fijo no cubra el contenido */
  background-color: #f5f5f5;
}

h1 {
  color: #0047ab;
  margin-bottom: 20px;
}

p {
  color: #333;
  margin-bottom: 40px;
}

.dashboard-tools-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 20px; /* Espacio entre las tarjetas de herramientas */
}

/* Estilo para las tarjetas de herramientas */
.dashboard-tool {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 220px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.dashboard-tool:hover {
  transform: translateY(-10px);
}

/* Estilo para los iconos */
.tool-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  border-radius: 50%;
  background-color: #9acd32; /* Color personalizado para "Gestión de Políticas" */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo específico para los iconos de auditoría */
.log-icon {
  background-color: #007bff; /* Color azul para registros de inicio de sesión */
}

.password-change-icon {
  background-color: #ff5722; /* Color naranja para cambios de contraseña */
}

.view-button {
  background-color: #0047ab;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background-color: #003b8b;
}

/* Estilos para el CRUD de Políticas */
.policy-management {
  width: 100%;
  max-width: 800px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
